/* html , body , #root , .App {
  height : 100% ;
  margin : 0 ;
} */

.lit {
  background-color : white ;
  background-image: url("bulb-on.gif");
  background-repeat: no-repeat;
  background-position: left;
  color :black ;
  height: 250px;
  width: 300px;
  margin: auto;
}
 .dark {
  background-color : white ;
  background-image: url("bulb-off.gif");
  background-repeat: no-repeat;
  background-position: left;
  color : black ;
  height: 250px;
  width: 300px;
  margin: auto;
}



.room  {
  text-align: right;
  padding: 20px;
}

.temp{

  text-align: center;

}
span {

  color: crimson;
}


img {

  height: 100px;
  width: 100px;
}